<app-centered-box>
  <md-card>
    <md-progress-bar *ngIf="submitted" mode="query"></md-progress-bar>

    <md-card-title i18n="Title of the sign in page">
      Sign In
    </md-card-title>

    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <md-card-content>
        <div fxFlex fxLayout="column">

          <md-input-container>
            <input mdInput type="email" formControlName="email" placeholder="Email" required />
            <md-error *ngIf="signInForm.get('email').hasError('email')" i18n>Not a valid email address</md-error>
            <md-error *ngIf="signInForm.get('email').hasError('minlength')" i18n>This field is limited to 255 chars</md-error>
          </md-input-container>

          <md-input-container>
            <input mdInput type="password" formControlName="password" placeholder="Password" required />
            <md-error *ngIf="signInForm.get('password').hasError('required')" i18n>This field is required</md-error>
            <md-error *ngIf="signInForm.get('password').hasError('minlength')" i18n>This field is limited to 255 chars</md-error>
          </md-input-container>

        </div>
      </md-card-content>

      <md-card-actions align="end">
        <button md-button color="accent" [disabled]="submitted || signInForm.pristine || signInForm.invalid" type="submit" i18n="sign in action">Sign In</button>
      </md-card-actions>
    </form>
  </md-card>
</app-centered-box>