<md-card>
  <md-card-title i18n="Title of the sign up page">
    Sign Up
  </md-card-title>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <md-card-content>
      <div fxFlex fxLayout="column">
        <md-input-container>
          <input mdInput type="text" formControlName="name" placeholder="Name" required />
          <md-error *ngIf="signUpForm.get('name').hasError('required')" i18n>This field is required</md-error>
          <md-error *ngIf="signUpForm.get('name').hasError('minlength')" i18n>This field is limited to 255 chars</md-error>
        </md-input-container>

        <md-input-container>
          <input mdInput type="email" formControlName="email" placeholder="Email" required />
          <md-error *ngIf="signUpForm.get('email').hasError('email')" i18n>Not a valid email address</md-error>
          <md-error *ngIf="signUpForm.get('email').hasError('minlength')" i18n>This field is limited to 255 chars</md-error>
        </md-input-container>

        <md-input-container>
          <input mdInput type="password" formControlName="password" placeholder="Password" required />
          <md-error *ngIf="signUpForm.get('password').hasError('required')" i18n>This field is required</md-error>
          <md-error *ngIf="signUpForm.get('password').hasError('minlength')" i18n>This field is limited to 255 chars</md-error>
        </md-input-container>

        <md-input-container>
          <input mdInput type="password" formControlName="passwordAgain" placeholder="Password (again)" required />
          <md-error *ngIf="signUpForm.get('passwordAgain').hasError('equalTo')" i18n>Passwords don't match</md-error>
        </md-input-container>
      </div>
    </md-card-content>

    <md-card-actions align="end">
      <button md-button color="accent" [disabled]="submitted || signUpForm.pristine || signUpForm.invalid" type="submit" i18n="sign up action">Sign Up</button>
    </md-card-actions>
  </form>
</md-card>