@import "../../../media-queries.scss";

@include  respond-to(small) {
  md-card {
    md-input-container {
      margin-top: 25px;
      width: 500px;

      align-self: center;
    }
  }
}

md-progress-bar {
  position: relative;
  top: -24px;
  left: -24px;
  width: calc(100% + 48px);

  height: 2px;
}